<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rbsystem.RubyMoodle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rbsystem.RubyMoodle.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rbsystem.RubyMoodle.MenuPrincipal" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.Asistencia" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.Eventos" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.EventosAtrasados" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.Notas" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.Cursos" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.MenuCursos" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.Participantes" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.Profesor" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.Documentos" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.Mensajes" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.MensajesLeidos" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.EnviarMensaje" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.EnviarMensajeProfesor" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.EnviarMensajeParticipante" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.AlumnoApoderado" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.MenuCursosApoderados" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.EnviarMensajeProfesorApoderado" > </activity>
        <activity android:name="com.rbsystem.RubyMoodle.MensajesApoderado" > </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>
