<html lang="es"> 
<head>
	<!-- META FULL ================================================== -->
	<meta charset="utf-8">
	<title>HalfSecurity | Academy</title>
	<meta name="description" content="HalfSecurity Plataforma Virtual de cursos online de hacking ético y
	seguridad informática. Servicios Pentesting empresas. Piensa como un hackers y defiendete.">
	<meta name="author" content="HalfSecurity">
	<meta name="keywords" content="Kalilinux, Seguridad, Informatica, Hacking, Academia, Online, Cursos, Pentesting,
	Servicios, Portal, Aircrack, Auditoria, Python, Programacion, Wireshark, CTF, Redes, Metasploit" />
	<meta property="og:site_name" content="HalfSecurity "/>
	<meta property="og:type" content="article" />
	<meta property="og:image" content="https://www.halfsecurity.com/images/bannerhome.jpg" />
	<meta property="og:title" content="HalfSecurity | Seguridad & Hacking Ético" />
	<meta property="og:url" content="https://www.halfsecurity.com" />
	<meta property="og:description" content="HalfSecurity Plataforma Virtual de cursos online de hacking ético y
	seguridad informática. Servicios Pentesting empresas. Piensa como un hackers y defiendete." />

	<!-- Mobile Specific Metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {{!-- GOOGLE FONTS --}}
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  {{!-- BOOTSTRAP 4 --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- FONT AWESOME 5 --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  {{!-- STYLES --}}
  <link rel="stylesheet" href="/css/styles.css">  
  {{!-- FAVICON --}}
  <link rel="shortcut icon"  href="/img/logo.png">
 

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5a3ee946f4461b0b4ef8a681/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</head> 
 
<body>
   
     {{>navigation}}
	 {{{ body }}}
	 {{>message}} 
     {{>footer}}
 
</body>
<!-- End Document ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{!-- jQuery first, then Popper.js, then Bootstrap JS --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
	   
</html>