<!-- Footer -->
<footer class="footer page-fot">
  <div class="marg-fot">  
  <div class="container">
       <div class="row">
            <div class="hidden-sm col-md-4">
                <img src="/img/main-logo-light.png" class="responsive" width="60%"><br>
				    <p id="" class="small">    En HalfSecurity formamos a profesionales y estudiantes en
							seguridad informática y hacking ético, capacitandolos con técnicas similares a los
							atacantes con entornos y practicas reales, entregando las bases y conocimientos necesarios para
							su comienzo de este modo para colocar a prueba los sistemas informáticos.      
					</p>
            </div>

            <div class="foot-sm col-md-3">
                <h4 class="p-1">Lo que Hacemos</h4>
                    <div class="m-2">
                        <ul class="ulLine">
		     	           <li>Entregar Confianza</li>
		                   <li>Entregar Conocimientos</li>
		                   <li>Entregar Calidad</li>
		     	           <li>Precios Accesibles</li>
                        </ul> 
                    </div> 
            </div> 

             <div class="foot-sm col-md-3">
                <h4 class="p-1">Contáctanos</h4>
                    <div>
                        <h6><img src="/img/phone-icon.png" class="responsive" width="6%">
                        WhatsApp +569 5535 5502</h6> 
                        <img src="/img/mail-icon.png" class="responsive" width="6%"> 
                        <a class="letterRed" href="mailto:cursos@halfsecurity.com">cursos@halfsecurity.com</a> <br>

                           <div class="m-3">
                                <!--Facebook-->
                                <a target="blank" class="btn btnFace" href="https://www.facebook.com/HSComunidad"><i class="fab fa-facebook-f pr-1"></i> Facebook</a>
                                <!--Twitter-->
                                <a target="blank" class="btn btnTw" href="https://twitter.com/comunidadhs"><i class="fab fa-twitter pr-1"></i> Twitter</a>
                            </div> 
                    </div> 
            </div>

            <div class="foot-sm col-md-2">
                <h4 class="p-1">General</h4>
                    <div class="m-1">
                        <a class="letterRed" href="https://www.halfsecurity.com/help/center/">Centro de ayuda</a><hr>
                        <a class="letterRed" href="https://www.halfsecurity.com/help/center/">Trabajos</a><hr>
                        <a class="letterRed" href="https://www.halfsecurity.com/help/center/">Políticas del sitio</a>
                    </div>
            </div> 
       </div> 
  </div>
  </div>
  <!-- Copyright -->
  <div class="footerClass footer-copyright text-center py-3">Copyright © 2019
    <a class="letterRed" href="https://www.halfsecurity.com"> HALFSECURITY</a>
    . TODOS LOS DERECHOS RESERVADOS. 
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->